body {
  width: min(100vw, calc(100vh * var(--aspect-ratio)));
  height: min(100vh, calc(100vw / var(--aspect-ratio)));

  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 30%)),
    url("../Bilder/bg-tiling-dark.svg");
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  animation: scrollBackground 120s linear infinite;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 100%;
  }
}

body {
  height: 100%;
  width: auto;
  background-size: auto;
}

.infoForside {
  height: 100%;
  width: auto;
}

.tekst {
  font-style: normal;
  font-size: 45px;
  letter-spacing: 1px;
  text-transform: none;
  color: white;
  font-weight: normal;
  text-align: center;
}

.infoForside {
  font-style: normal;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: none;
  color: white;
  font-weight: normal;
  text-align: center;
}

.knapp-wrapper {
  position: relative;
  display: inline-block;
  line-height: 0;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease;
  transition: 0.3s;
}

.forside_bildet {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.knapp-wrapper button {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
}

.knapp-wrapper:hover {
  box-shadow: 0 0 25px rgba(255, 215, 100, 0.4);
  transform: scale(1.1);
}

.testKnapp {
  color: brown;
}

.bildeKort {
  height: 50%;
  width: auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: 2rem;
  padding: 2rem;
}

.infoTekst {
  font-style: normal;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: none;
  color: white;
  font-weight: normal;
  text-align: center;
}

.kort {
  background-color: #021c40;
  border: 5px solid #2c3f6c;
  border-radius: 10px;
  padding: 20px;
  /* width: 200px; */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  height: auto;
  margin: 20px;
}

#toggleProsjekter {
  background: transparent;
  height: 100%;
  width: auto;
  color: #fff;
  border-radius: 12px;
  padding: 15px 15px;
  margin: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#toggleProsjekter:hover {
  background: linear-gradient(135deg, #032452, #031b3d);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

#toggleProsjekter:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
